$background: #ededed;
$foreground: #1d1d1d;
$grey: #b9afb0;
$blue: #4595d8;
$orange: #f9a765;
$error: #ab2201;
%button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.4s ease-out;
    &:focus {
        outline: none;
    }
    &:active {
        background-color: rgba(darken($background, 20%), 0.5);
    }
}

%round {
    border-radius: 50%;
}