.btn-pen {
    @extend %button;
    @extend %round;
    &:after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    &.black:after {
        background: $foreground;
    }
    &.grey:after {
        background: $grey;
    }
    &.blue:after {
        background: $blue;
    }
    &.orange:after {
        background: $orange;
    }
    &.red:after {
        background: $red;
    }
    &.green:after {
        background: $green;
    }
    &.yellow:after {
        background: $yellow;
    }
    &.s:after {
        width: 4px;
    }
    &.m:after {
        width: 10px;
    }
    &.l:after {
        width: 20px;
    }
}

.btn-font-size {
    @extend %button;
    @extend %round;
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    line-height: 1;
    &.small {
        font-size: 12pt;
    }
    &.medium {
        font-size: 20pt;
    }
    &.large {
        font-size: 30pt;
    }
}

.btn-back {
    @extend %button;
    @extend %round;
    background-image: url(assets/back.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    flex: 0 0 40px;
}

.btn-add-page {
    @extend %button;
    @extend %round;
    background-image: url(assets/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    flex: 0 0 40px;
}

.btn-undo {
    @extend %button;
    @extend %round;
    background-image: url(assets/undo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    flex: 0 0 40px;
}

.btn-redo {
    @extend %button;
    @extend %round;
    background-image: url(assets/redo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    flex: 0 0 40px;
}