@import "../variables";
.btn-pen {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
    margin: 0 4px;
    transition: transform 0.2s ease-out;
    &:focus {
        outline: none;
    }
    &:active {
        transform: scale(0.7);
    }
    &:after {
        content: '';
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    &.black:after {
        background: $foreground;
    }
    &.grey:after {
        background: $grey;
    }
    &.blue:after {
        background: $blue;
    }
    &.orange:after {
        background: $orange;
    }
    &.s:after {
        width: 4px;
    }
    &.m:after {
        width: 10px;
    }
    &.l:after {
        width: 20px;
    }
}