canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow: hidden;
    cursor: pointer;
}

textarea {
    position: absolute;
    background: transparent;
    font-family: Handlee;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
    outline: none;
    line-height: 1.2;
    &.fs-12 {
        font-size: 12pt;
    }
    &.fs-20 {
        font-size: 20pt;
    }
    &.fs-30 {
        font-size: 30pt;
    }
}