.menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    left: 0;
    right: 0;
    width: auto;
    box-shadow: 0 0 10px 0 darken($background, 30%);
    background: $background;
    >img {
        height: 40px;
    }
    >header {
        font-size: 16pt;
        margin-left: 12px;
        line-height: 1;
    }
    >section {
        flex: 1;
        display: flex;
        align-items: center;
        &:nth-child(1) {
            justify-content: flex-start;
        }
        &:nth-child(2) {
            justify-content: center;
        }
        &:nth-child(3) {
            justify-content: flex-end;
        }
    }
}