@import "../variables";
.menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    left: 0;
    right: 0;
    width: auto;
    box-shadow: 0 0 10px 0 darken($background, 30%);
    background: $background;
}