.page-list {
    position: absolute;
    top: 63px; //menu is 40px + 2*padding of 4px, so 48px + 15px = 63px
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: auto;
    height: auto;
    flex: 1;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}